<p id="notice"><%= notice %></p>

<h1>Animals <p><%=link_to 'Logout', destroy_user_session_path , method: :delete %></p></h1>

<form class="form-inline my-2 my-lg-0" action="/search">
  <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
</form>

<table>
  <thead>
    <div class="animal-title">
      <tr>
        <th>Title</th>
        <th>Color</th>
        <th>Amount</th>
        <th>User Email</th>
        <th colspan="3"></th>
      </tr>
    </div>
  </thead>

  <tbody>
    <div align="center">
      <%= paginate @animals %>
    </div>
    <div class="animal-body">
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.title %></td>
          <td><%= animal.color %></td>
          <td><%= animal.amount %></td>
          <td><%= animal.user.email %></td>
          <td><%= link_to 'Show', animal %></td>
          <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
          <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </div>

  </tbody>
</table>
<div align="center">
  <%= paginate @animals %>
</div>
<br>

<p><%= link_to 'New Animal', new_animal_path %></p>
